*{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}


body  {
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;


  }

.container {
  text-align: center;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  position: relative;

  

}

.dicas{
  display:block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 25px;

}

.jardinagem{
  display:block;
  font-family: "Montserrat", sans-serif;
  font-size: 2.0em;
  color: #FFE98F;
  
}

.infaliveis {
  display:block;
  /* align-items: center;
  justify-content: center; */
  position: relative;
  font-family: "Dancing Script", cursive;
  color: #FFF;
  font-size: 1.3em;
  letter-spacing: 5.3px;
}



.background-image {
  background-image: url('../imagens/jardinagem.foto.png');
  background-size: cover;
  background-position: center;

}


header h1 {
  margin-top: 50px; 
  font-size: 3em;
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  gap: 5px ;
}

main p {
  font-size: 1.5em;
  margin: 20px 0;
}

 button{
  margin: 30px auto;
  display: inline-block;
}

.container-principal {
  display:flex;
  
}
.img2{
  width: 78px;
  position: absolute;
  top: 30px;

}
 .img{
  width: 78px;
  position: absolute;
  right: 300px;
} 

.buttonp{
 position: absolute;
 top:379px;
 left: 50%;
 transform:translate(-50%) ;

}
  