*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  
  body  {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    }
  
input,  .button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
   .button {
    background-color: #395826; /* Cor de fundo do botão */
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
    border:1px solid white;
    width: 400px;
  }
  
  
   .button:hover {
    background-color: #e6b800;
  }
  

.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
    padding: 20px;
    width: 370px;
    height: 410px;

}

#nome{
    width:100%;
}
#textarea{
    width: 100%;
}

#foto{
    width:100%;
}
/* 
*{
    background-image: url('../imagens/Fotodica.png');   
}   */


.main{
    display: flex;
    gap: 10px;
    /* height: 98vh;
    width: 98vw; */
    flex-wrap: wrap;
    padding: 20px;

}