* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body  {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.background-image2 {
    background-image: url('../imagens/Fotodica.png');
    background-size: cover;
    background-position: center;
  
  }

input, .button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.button {
    background-color: #395826;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    width: 400px;
    margin: -1px;/* centraliza o botão horizontalmente */
    align-self: center; /* centraliza o botão verticalmente */
}

.button:hover {
    background-color: #e6b800;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid rgb(69, 236, 8);
    padding: 20px;
    width: 370px;
    height: 410px;
}

#nome::placeholder{
    font-family: "Fredoka", sans-serif;
    color: #30442D; 
    font-size: 2.0em;
    font-weight: bold;
}

#textarea::placeholder {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #30442D;
    display: flex;
    align-items: center;
}

#foto {
    width: 100%;
}

.main {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}

 #titulodica{
    font-family: "Fredoka", sans-serif;
    display: flex;
    justify-content: center;
 } 